certifi==2020.6.20
chardet==3.0.4
fastapi==0.111.0
jmespath==0.10.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pydantic==2.8.2
pyparsing==2.4.7
pytest==6.2.1
python-dateutil==2.8.1
python-dotenv==0.15.0
python-multipart==0.0.9
PyYAML==5.3.1
requests==2.32.3
rsa==4.5
six==1.16.0
starlette==0.37.2
toml==0.10.2
urllib3==2.2.2
uvicorn==0.30.1